<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activity_maim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GiftApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.activity_looooading"></activity>
        <activity android:name=".withdraw" />
        <activity android:name=".fundingmain1" />
        <activity android:name=".money" />
        <activity android:name=".AddGames" />
        <activity android:name=".fundlist" />
        <activity android:name=".fundingmain" />
        <activity android:name=".login.activity_login" />
        <activity android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_register" />
        <activity android:name=".activity_main" />
        <activity android:name=".bir_insert" />
        <activity android:name=".signup.SignUpActivity" />
        <activity android:name=".signup.Login_API" />
        <activity android:name=".signup.Login_API2" />
    </application>

</manifest>